<%= simple_form_for [@restaurant, @review] do |f| %>
	<%= f.input :author %>
	<%= f.input :content %>	
	<%= f.input :stars %>	
	<%= f.submit %>
<% end %>

<!--
/restaurants
@restaurant.class -> Restaurant
@restaurant.class.to_s -> "Restaurant"
@restaurant.class.to_s.downcase "restaurant"
@restaurant.class.to_s.downcase.pluralize -> 
"/" + "restaurants"

<form action="" method="">
</form>
-->